{% extends 'base.html' %}

{% block title %}About Us - Travel Website{% endblock %}

{% block content %}
<h1>About Us</h1>
<p>
    Welcome to our Hummusafir Travels! We are dedicated to providing the best travel packages and activities to ensure you have an unforgettable experience.
</p>
<p>
    Our mission is to make travel accessible, enjoyable, and tailored to your preferences. Whether you're seeking adventure, relaxation, or cultural experiences, we've got you covered.
</p>
<!-- Add more content as needed -->
{% endblock %}
